body {
	background-image: url('./RouletteCropped.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left:15px;
}

.title{
	font-family: 'Rye', cursive;
	font-size: 35px;
	border-color: white;
	border-radius: 3px;
	background-color: black;
	color: #c1262e;
	width:550px;
	margin-top: 30px;
	padding:15px;
	margin-bottom:20px;

}
.resultsPanel{
	color: #c1262e;
	font-family: 'Rye', cursive;
	font-size: 23px;
	background-color: black;
	color: #c1262e;
	width:550px;
	border-radius: 0px;

}
.resultsText{
	font-family: 'Rye', cursive;
	font-size: 23px;
	color: #c1262e;


}


.restaurantNameHeader {
	font-size: 20px;
	color:black;
}

.restaurantName {
	font-size: 16px;
	color:black;
}

.restaurantHeader {
	font-size: 18px;
	color:black;
}

.restaurantDetails{
	font-size: 14px;
	color:black;
}


.spinTheWheel{
	font-family: 'Rye', cursive;
	font-size: 23px;
	background-color: black;
	color: #c1262e;
	width:550px;
	border-radius: 0px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.spinTheWheel:active:focus {
  color: white;
  background-color: black;
  border-color: #494F57;
}

.spinTheWheel:hover{
	background-color: #c1262e;
	color:black;
}

.spinTheWheel:visited{
	background-color: black;
	color: #c1262e;
}

.spinTheWheel:focus{
	background-color: black;
	color: #c1262e;
}


.saveButton{

	font-size: 14px;
	background-color: black;
	color: #c1262e;
	border-radius: 3px;
	border-color: white;
	border-style: none;

}

.saveButton:active:focus {
  color: white;
  background-color: black;
  border-color: #494F57;
}

.saveButton:hover{
	background-color: #c1262e;
	color:black;
}

.saveButton:visited{
	background-color: black;
	color: #c1262e;
}

.saveButton:focus{
	background-color: black;
	color: #c1262e;
}

.btn-primary{
	border-color: white;
	border-radius: 3px;
	background-color: black;
	color: #c1262e;

}



.allItems{
	margin-left:600px;
	width:600px;
	padding:15px;
	clear:both;


}

.container{
	margin:100px;
margin-top:50px;
clear:both;


}

.savedRestaurantsText{
	font-family: 'Rye', cursive;
	text-align: center;
	font-size: 18px;
	border-color: white;
	border-radius: 3px;
	background-color: black;
	color: #c1262e;
	width:550px;
	padding:15px;
	margin-top: 10px;
	margin-right:0px;

}

.resultsPanelOutline > div {
	min-height: 70px;
	margin-bottom: 3px; 
}

#restaurant-address {
	font-size: 12px;
	color: #000;
	font-family: Verdana;
}

.savedText{
	font-family: 'Rye', cursive;
	font-size: 23px;
	color: #c1262e;
	background-color: black;
	padding:5px;
	padding-left:0px;
	padding-right:0px;
	margin-bottom:7px;
	width:550px;
}

.savedPanel{
	color: #c1262e;
	font-family: 'Rye', cursive;
	font-size: 23px;
	background-color: black;
	color: #c1262e;
	width:550px;
	border-radius: 0px;
	height:150px;
	overflow:scroll;
	border-width: 5px; 
	border-style: solid; 

}
.savedItems{
	height:85px;
}


.deleteButton:active:focus {
  color: white;
  background-color: black;
  border-color: #494F57;
}

.deleteButton:hover{
	background-color: #c1262e;
	color:black;
}

.deleteButton:visited{
	background-color: black;
	color: #c1262e;
}

.deleteButton:focus{
	background-color: black;
	color: #c1262e;
}